@model SocialNetworkWebApp.ViewModels.AccountManager.ChatViewModel;

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

@*<meta http-equiv="refresh" content="5">  обновления каждые 5 сек, временное решение, нужно использовать SignalR *@

<div class="block-reg background-white">
    <div class="d-flex flex-row bd-highlight">
        <form method="get" asp-controller="AccountManager" asp-action="MyPage">
            <button class="btn btn-secondary bi-arrow-left-circle-fill" type="submit"> Назад</button>
        </form>
        <h4 class="center">Чат @Model.Sender.FirstName и  @Model.Recepient.FirstName</h4>
    </div>
    <hr />
    <div class="lined-block">
        <label class="gray-text mb-3 fw-bold">Сообщения</label>
        @if (Model.MessageHistory.Any())
        {
            @foreach (var message in @Model.MessageHistory)
            {
                <div>
                    @if (Model.Sender.Id == message.SenderId)
                    {
                        <label class="badge bg-success text-wrap">@message.Sender.FirstName</label>
                    }
                    else 
                    {
                        <label class="badge bg-primary text-wrap">@message.Sender.FirstName</label>
                    }
                    @message.Text
                </div>
            }
        }
        else
        {
            <div>
                <label> У вас пока нет сообщений с  @Model.Recepient.GetFullName().</label>
            </div>
        }
    </div>
    <hr />
    <div class="lined-block">
        <label class="gray-text fw-bold">Новое сообщение</label>
        <form class="frm" method="post" asp-controller="AccountManager" asp-action="NewMessage"  asp-route-id="@Model.Recepient.Id">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="d-flex flex-row bd-highlight">
                <div>
                    <input asp-for="NewMessage.Text" class="form-control emojify" type="text" autocomplete="off" />
                </div>
                <div>
                    <button class="btn btn-success bi-send" type="submit"> Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>
